@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--padding: 30px;
	--corner-radius: 1rem
}

html, body {
	font-family: 'Montserrat';
	color: white;
	font-size: 12pt;
	background: url('/static/assets/bg.png') no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
}

.box {
	font-size: 10pt;
	padding-bottom: 10px;
}

.box_top {
	display: flex;
}

.box_input {
	font-family: inherit;
	font-weight: 500;
	font-size: 10pt;
	margin-left: auto;
	border: none;
	border-radius: 0.5rem;
	width: 110px;
	text-align: center;
}

.box_error, #error {
	color: salmon;
	font-weight: 600;
}

h1 {
	margin-top: 0;
	margin-bottom: 0.5rem;
}

h3 {
	margin-bottom: 0.5rem;
}

.left, .header, .results {
	background-color: #00000076;
	backdrop-filter: blur(20px);
	border-radius: var(--corner-radius);
	padding: var(--padding);
	box-sizing: border-box;
	margin-top: var(--padding);
	margin-left: var(--padding);
	margin-right: var(--padding);
}

.footer {
	font-size: 9pt;
	font-weight: 300;
	grid-area: "footer";
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

#figure {
	max-width: 100%;
	height: auto;
	border-radius: 0.5rem;
}

#button {
	font: inherit;
	font-weight: 600;
	background-color: white;
	color: black;
	text-decoration: none;
	padding: 8px 10px;
	border-radius: 0.75rem;
	box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

/* this isn't working */
/* .app {
	display: grid;
	grid-template-areas:
		"header"
		"left"
		"results"
		"footer";
} */

/* Desktop view specifics */
@media (min-width: 900px) {
	html, body {
		height: 100%;
	}

	.app {
		display: grid;
		height: 100vh;
		grid-template-areas:
			"left right";
		grid-template-columns: 450px 1fr;
	}

	.left {
		grid-area: left;
		border-radius: 0;
		margin: 0;
		height: 100vh;
		overflow: hidden;
		display: flex;
		flex-direction: column;
	}

	.inputs {
		height: fit-content;
		overflow-y: scroll;
		box-sizing: border-box;
	}
	
	.right {
		grid-area: right;
		display: grid;
		grid-template-areas:
			"header"
			"results"
			"footer";
		grid-template-rows: auto 1fr auto;
		height: 100%;
		overflow-y: auto;
	}
}